page-login {
    .sex {
        background: #3FB8AF;
    }
    ion-grid {
        height: 100%;
        ion-row {
            height: 100%;
        }
    }
}

.login-title {
    text-align: center;
    margin: auto 20px;
}