page-questions {
    .home {
        background: #e7667b;
    }
    ion-col {
        display: flex;
        justify-content: center;
        canvas {
            max-height: 15em;
            max-width: 15em;
        }
    }
    ion-grid {
        height: 100%;
    }
    ion-row {
        height: 100%;
        .col-quest {
            //height: 10%;
        }
        .btn-btn {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            margin: 10px;
            font-size: 18pt;
        }
    }
}